# Node dependencies
node_modules/

# Eleventy output directory (change if you customized this in your config)
_site/

# Build caches
.cache/

# System and editor folders
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace

# Log files and coverage reports
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output/
coverage/
